@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
  --color-white: #F8F8F8;
  --color-green: #42DC50;
  --color-red: #F94F49;
  --color-blue--light: #D4E6F1;
  --color-blue--medium: #84C7E6;
  --color-blue--dark: #3498DB;
  --color-black--light: #273746;
  --color-black--medium: #212F3D;
  --color-black--dark: #1E1E1E;
  --color-gray: #5F5F5F;

  --font-family--ubuntu: 'Ubuntu', sans-serif;
  --font-family--ubuntu-mono: 'Ubuntu Mono', monospace;

  --font-size-12: .75rem;
  --font-size-14: .875rem;
  --font-size-18: 1.125rem;
  --font-size-24: 1.5rem;
  --font-size-40: 2.5rem;
  --font-size-56: 3.5rem;

  --line-height-20: 1.25rem;
  --line-height-32: 2rem;

  --letter-spacing-072: .045rem;

  --font-weigth--light: 300;
  --font-weigth--regular: 400;
  --font-weigth--bold: 700;
}

body {
  background-color: var(--color-white);
}

h1,
h2,
h3,
p,
li,
button,
label {
  font-family: var(--font-family--ubuntu);
  color: var(--color-black--medium);
}

h1,
h2,
h3 {
  font-weight: var(--font-weigth--bold);
}

h1 {
  font-size: var(--font-size-56);
  letter-spacing: var(--letter-spacing-072);
}

h2 {
  font-size: var(--font-size-40);
  letter-spacing: var(--letter-spacing-072);
}

h3 {
  font-size: var(--font-size-24);
  letter-spacing: var(--letter-spacing-072);
}

p,
li,
button,
label {
  font-size: var(--font-size-18);
  font-weight: var(--font-weigth--regular);
  line-height: var(--line-height-32);
  letter-spacing: var(--letter-spacing-072);
}

li:not(:last-child) {
  margin-bottom: .9375rem;
}

ol,
ul {
  padding-left: 1.875rem;
}

button {
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

/* Form */

.tcc-form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-radius: .3125rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1.1875rem 2.375rem, rgba(0, 0, 0, 0.22) 0 .9375rem .75rem;
  min-width: 25rem;
  padding: 3.125rem;
}

.tcc-form__fields {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.tcc-form__field {
  display: grid;
  row-gap: 1rem;
}

.tcc-form__field>label {
  font-weight: var(--font-weigth--bold);
}

.tcc-form__field>input {
  background: var(--color-white);
  font-size: var(--font-size-18);
  font-weight: var(--font-weigth--regular);
  line-height: var(--line-height-32);
  letter-spacing: var(--letter-spacing-072);
  outline: none;
  border-radius: .3125rem;
  border: .0625rem solid var(--color-gray);
  transition: .25s;
  padding: .3125rem;
}

.tcc-form__field>input:focus {
  border: var(--color-blue--dark) solid .0625rem;
}

.tcc-form__submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.tcc-form__submit>span {
  font-family: var(--font-family--ubuntu);
  font-size: var(--font-size-12);
  font-weight: var(--font-weigth--light);
  letter-spacing: var(--letter-spacing-072);
}

/* SignInComponent */

.tcc-sign-in__container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.tcc-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
  opacity: 0;
  transform: translateY(15rem);
  animation: show-up 1.5s forwards;
  overflow: auto;
  width: 100%;
  padding: 3.125rem;
}

/* SignUpComponent */

.tcc-sign-up__container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.tcc-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
  opacity: 0;
  transform: translateY(15rem);
  animation: show-up 1.5s forwards;
  overflow: auto;
  width: 100%;
  padding: 3.125rem;
}

/* SignInComponent */

.tcc-thank-you__container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.tcc-thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
  opacity: 0;
  transform: translateY(15rem);
  animation: show-up 1.5s forwards;
  overflow: auto;
  width: 100%;
  padding: 3.125rem;
}

/* Classroom */

.tcc-classroom {
  display: grid;
  grid-template-columns: .5fr 2fr;
  width: 100%;
}

.tcc-classroom__section {
  padding: 3.125rem;
  height: fit-content;
  min-width: 0;
  overflow: auto;
}

.tcc-classroom__section-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-width: 0;
  overflow: visible;
}

/* ClassroomSidebar */

.tcc-sidebar__section {
  position: relative;
}

.tcc-sidebar {
  position: fixed;
  display: flex;
  gap: .625rem;
  opacity: 0;
  transform: translateY(15rem);
  animation: show-up 1.5s forwards;
  width: 12.5%;
}

.tcc-sidebar__items {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
  overflow: hidden;
}

/* ClassroomSidebarItem */

.tcc-sidebar-item {
  display: flex;
  align-items: center;
  gap: .625rem;
  margin-bottom: 0 !important;
}

.tcc-sidebar-item__label {
  font-weight: var(--font-weigth--bold);
  color: var(--color-blue--medium);
  transition: .25s;
}

.tcc-menu-item__radio:checked~.tcc-sidebar-item__label {
  color: var(--color-blue--dark);
}

.tcc-menu-item__radio:not(:checked):not([disabled])~.tcc-sidebar-item__label:hover {
  color: var(--color-blue--dark);
}

/* ClassroomStage */

.tcc-stage {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  overflow: visible;
  width: 75%;
}

/* ClassroomStageSection */

.tcc-stage-section {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  opacity: 0;
  transform: translateY(15rem);
  animation: show-up 1.5s forwards;
}

.tcc-stage-section__content {
  display: flex;
  flex-direction: column;
  gap: .9375rem;
}

/* Exercises */

.tcc-exercises {
  list-style-position: inside;
  padding: 0;
}

.tcc-exercises__confirmation {
  display: flex;
  justify-content: flex-end;
}

/* ExerciseQuestion */

.tcc-exercise-question {
  list-style-position: outside;
  margin-left: 1rem;
}

.tcc-exercise-question>span {
  font-family: var(--font-family--ubuntu);
  font-size: var(--font-size-18);
  font-weight: var(--font-weigth--regular);
  color: var(--color-black--medium);
  line-height: var(--line-height-32);
  letter-spacing: var(--letter-spacing-072);
}

.tcc-exercise-question__choices {
  padding: .9375rem 0 0 .9375rem;
}

/* ExerciseChoice */

.tcc-exercise-choice {
  list-style: none;
}

.tcc-exercise-choice__statement {
  display: flex;
  align-items: center;
  gap: .625rem;
}

.tcc-exercise-choice__statement>span {
  font-family: var(--font-family--ubuntu);
  font-size: var(--font-size-18);
  font-weight: var(--font-weigth--regular);
  color: var(--color-black--medium);
  line-height: var(--line-height-32);
  letter-spacing: var(--letter-spacing-072);
}

/* CodeEditor */

.tcc-code-editor__container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible;
  width: 100%;
  height: 40rem;
  margin: 1.875rem 0;
}

.tcc-code-editor {
  position: absolute;
  top: 0;
  left: -12.5%;
  display: grid;
  column-gap: .625rem;
  border-radius: .625rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1.1875rem 2.375rem, rgba(0, 0, 0, 0.22) 0 .9375rem .75rem;
  overflow: hidden;
  width: calc(100% + 25%);
  height: inherit;
}

.tcc-code-editor--fullscreen {
  border-radius: 0;
  box-shadow: none;
}

/* CodeEditorWorkspace */

.tcc-code-editor-workspace {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.tcc-code-editor-workspace__content {
  display: flex;
  background-color: var(--color-black--dark);
  padding-bottom: 4rem;
  width: 100%;
  height: 100%;
}

/* CodeEditorMenu */

.tcc-code-editor-menu {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-black--light);
  width: 100%;
}

.tcc-code-editor-menu__tabs {
  display: flex;
  overflow: auto;
  width: 100%;
}

/* CodeEditorMenuSettings */

.tcc-code-editor-menu-settings {
  display: flex;
  align-items: center;
  gap: .625rem;
  padding: .625rem;
}

/* CodeEditorFile */

.tcc-code-editor-file {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
}

/* AnimationScreen */

.tcc-animation-screen {
  position: relative;
  z-index: 0;
  flex: 1;
  background-color: var(--color-black--dark);
  overflow: hidden;
  height: 100%;
}

.tcc-animation-screen--fullscreen {
  border-radius: 0;
}

.tcc-animation-screen__camera {
  position: relative;
  z-index: 1;
  cursor: grab;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.tcc-animation-screen__camera:active {
  cursor: grabbing;
}

.tcc-animation-screen__control {
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: .9375rem;
  width: 100%;
  padding: .625rem;
}

/* AnimationEngine */

.tcc-animation-engine {
  position: absolute;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  overflow: visible;
  -webkit-transition: all .375s;
  -moz-transition: .375s;
  transition: .375s;
}

.tcc-animation-engine * {
  -webkit-transition: all .375s ease;
  -moz-transition: .375s ease;
  transition: .375s ease;
}

.tcc-animation-engine::-webkit-scrollbar {
  display: none;
}

/* BSTComponent */

.tcc-bst {
  display: grid;
  grid-auto-rows: max-content;
  justify-items: center;
  row-gap: 2rem;
  padding: 2.5rem;
}

/* BSTNodeComponent */

.tcc-bst-node {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-black--dark);
  width: 2.5rem;
  height: 2.5rem;
}

.tcc-bst-node>span {
  padding: .625rem;
  color: var(--color-white);
  font-family: var(--font-family--ubuntu);
  font-size: var(--font-size-14);
  font-weight: var(--font-weigth--bold);
  overflow: hidden;
}

.tcc-bst-node--focus {
  background-color: var(--color-blue--dark);
}

/* BSTChildrenComponent */

.tcc-bst-children {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  column-gap: 2rem;
  width: max-content;
}

/* BSTChildComponent */

.tcc-bst-child {
  display: grid;
  justify-items: center;
  grid-template-rows: min-content;
  grid-auto-columns: minmax(0, 1fr);
  gap: 2rem;
}

.tcc-bst-child--left {
  order: 1;
}

.tcc-bst-child--right {
  order: 2;
}

.tcc-bst-child--left:only-child:before,
.tcc-bst-child--right:only-child::before {
  content: "";
  position: absolute;
  z-index: 1;
  transform: translateY(-100%);
  background: var(--color-black--dark);
  width: .0625rem;
  height: 2rem;
}

.tcc-bst-child--left:not(:only-child):before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  transform: translateY(-100%) translateX(50%);
  background: linear-gradient(to bottom right, #0000 49%, var(--color-black--dark) 0, #0000 51%);
  width: calc(25% + .25rem);
  height: 3rem;
}

.tcc-bst-child--right:not(:only-child):before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  transform: translateY(-100%) translateX(-50%);
  background: linear-gradient(to bottom left, #0000 49%, var(--color-black--dark) 0, #0000 51%);
  width: calc(25% + .25rem);
  height: 3rem;
}

/* CodeEditorPrompt */

.tcc-code-editor-prompt {
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
  max-height: 100%;
}

.tcc-resizer--horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: .0625rem solid var(--color-gray);
  border-bottom: .0625rem solid var(--color-gray);
  background-color: var(--color-black--dark);
  cursor: n-resize;
  width: 100%;
  padding: .3125rem;
}

.tcc-resizer--vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: .0625rem solid var(--color-gray);
  border-right: .0625rem solid var(--color-gray);
  background-color: var(--color-black--dark);
  cursor: e-resize;
  height: 100%;
  width: fit-content;
  padding: .3125rem;
}

.tcc-resizer--vertical>* {
  transform: rotateZ(270deg);
}

.tcc-code-editor-prompt__content {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  background-color: var(--color-black--dark);
  width: 100%;
  height: 100%;
}

/* CodeEditorPromptMenu */

.tcc-code-editor-prompt-menu {
  display: flex;
  gap: .625rem;
  overflow: auto;
  height: fit-content;
  padding: .4375rem .625rem;
}

.tcc-code-editor-prompt-menu>* {
  font-family: var(--font-family--ubuntu);
  font-size: var(--font-size-12);
  color: var(--color-white);
  white-space: pre-wrap;
}

/* CodeEditorMenuItem */

.tcc-code-editor-menu-item {
  cursor: pointer;
  color: var(--color-black--light);
  font-size: var(--font-size-12);
  font-weight: var(--font-weigth--light);
  line-height: var(--line-height-20);
  letter-spacing: unset;
  padding-bottom: .25rem;
}

.tcc-code-editor-menu-item__radio {
  display: none;
}

.tcc-code-editor-menu-item__radio:checked~.tcc-code-editor-menu-item {
  color: var(--color-white);
  border-bottom: solid .0625rem var(--color-blue--dark);
  padding-bottom: 0.125rem;
}

.tcc-code-editor-menu-item__radio:not(:checked)~.tcc-code-editor-menu-item:hover {
  color: var(--color-white);
}

/* CodeEditorPromptContent */

.tcc-code-editor-prompt-content {
  display: flex;
  justify-content: center;
  cursor: text;
  width: 100%;
  height: 0;
}

.tcc-code-editor-prompt-content__inner {
  display: flex;
  flex-direction: column;
  gap: .3125rem;
  overflow: auto;
  scroll-behavior: auto;
  width: calc(100% - .625rem);
  margin: .625rem 0 .625rem 0;
}

.tcc-code-editor-prompt-content__inner>* {
  color: var(--color-white);
  white-space: pre-wrap;
  margin-left: 1rem;
  font-family: var(--font-family--ubuntu-mono);
  font-size: var(--font-size-14);
  font-weight: var(--font-weigth--light);
}

.tcc-code-editor-prompt-content__inner::-webkit-scrollbar {
  width: .875rem;
}

.tcc-code-editor-prompt-content__inner::-webkit-scrollbar-track {
  background: none;
}

.tcc-code-editor-prompt-content__inner::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, .5);
}

.tcc-code-editor-prompt-content__inner::-webkit-scrollbar-thumb:hover {
  background-color: rgba(155, 155, 155, .8);
}

/* ButtonChoice */

.tcc-button-choice {
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: .0625rem solid var(--color-black--dark);
  transition: .25s;
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
}

.tcc-button-choice:hover {
  color: var(--color-white);
  background-color: var(--color-blue--medium);
  border: none;
}

.tcc-button-choice--selected {
  color: var(--color-white);
  background-color: var(--color-blue--dark);
  border: none;
}

.tcc-button-choice--correct {
  color: var(--color-white);
  background-color: var(--color-green);
  border: none;
}

.tcc-button-choice--wrong {
  color: var(--color-white);
  background-color: var(--color-red);
  border: none;
}

/* ButtonConfirmation */

.tcc-button-confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: .3125rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0 .1875rem .5rem;
  color: var(--color-white);
  background-color: var(--color-blue--dark);
  font-weight: var(--font-weigth--bold);
  transition: .25s;
  padding: .375rem 1.625rem;
}

.tcc-button-confirmation:hover {
  background-color: var(--color-blue--medium);
}

.tcc-button-confirmation:active {
  box-shadow: none;
}

/* InputRange */

.tcc-input-range {
  width: 100%;
  outline: none;
  background: none;
  -webkit-appearance: none;
  appearance: none;
}

.tcc-input-range::-webkit-slider-runnable-track {
  background: var(--color-blue--dark);
  height: .125rem;
  border-radius: .3125rem;
}

.tcc-input-range::-moz-range-track {
  background: var(--color-blue--dark);
  height: .125rem;
  border-radius: .3125rem;
}

.tcc-input-range::-webkit-slider-thumb {
  width: .875rem;
  height: .875rem;
  border-radius: 50%;
  margin-top: -6px;
  background-color: var(--color-blue--dark);
  -webkit-appearance: none;
  appearance: none;
}

.tcc-input-range::-moz-range-thumb {
  width: .875rem;
  height: .875rem;
  border-radius: 50%;
  margin-top: -6px;
  background-color: var(--color-blue--dark);
  -webkit-appearance: none;
  appearance: none;
}

/* LoadingComponent */

.tcc-loading {
  position: relative;
  display: inline-block;
  min-width: 1rem;
  min-height: 1rem;
}

.tcc-loading div {
  box-sizing: border-box;
  position: absolute;
  display: block;
  border: .15625rem solid;
  border-color: var(--color-blue--dark) transparent transparent transparent;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  width: 1rem;
  height: 1rem;
}

.tcc-loading--white div {
  border: .15625rem solid var(--color-white);
  border-color: var(--color-white) transparent transparent transparent;
}

.tcc-loading div:nth-child(1) {
  animation-delay: -0.45s;
}

.tcc-loading div:nth-child(2) {
  animation-delay: -0.3s;
}

.tcc-loading div:nth-child(3) {
  animation-delay: -0.15s;
}

/* LoadingProgress */

.tcc-loading-progress {
  position: relative;
  background-color: var(--color-blue--light);
  min-width: .5rem;
}

.tcc-loading-progress__fill {
  position: absolute;
  background-color: var(--color-blue--dark);
  transition: .25s;
  min-width: .5rem;
}

/* ModalToast */

.tcc-modal-toast__overlay {
  position: fixed;
  top: -4rem;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0;
}

.tcc-modal-toast {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0 .1875rem .5rem;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  opacity: 0;
  overflow: hidden;
  animation: translate-toast .75s ease forwards, vanish .75s ease forwards 5s;
  height: fit-content;
  width: 35rem;
  padding: 1rem;
}

.tcc-modal-toast>header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .625rem;
}

.tcc-modal-toast>section {
  display: flex;
  align-items: center;
  gap: .625rem;
}

.tcc-modal-toast>section>span {
  font-family: var(--font-family--ubuntu);
  font-size: var(--font-size-18);
  font-weight: var(--font-weigth--regular);
  line-height: var(--line-height-32);
  letter-spacing: var(--letter-spacing-072);
}

.tcc-modal-toast--info {
  background: var(--color-blue--dark);
}

.tcc-modal-toast--error {
  background: var(--color-red);
}

.tcc-modal-toast--success {
  background: var(--color-green);
}

.tcc-modal-toast--info *,
.tcc-modal-toast--error *,
.tcc-modal-toast--success * {
  color: var(--color-white);
}

/* ModalConfirmation */

.tcc-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, .15);
  animation: show-toast .75s ease forwards;
  width: 100%;
  height: 100%;
}

.tcc-modal {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0 .1875rem .5rem;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  overflow: hidden;
  height: fit-content;
  width: 45rem;
}

.tcc-modal>header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .625rem;
  background-color: var(--color-blue--dark);
  padding: 1rem;
}

.tcc-modal>header>h3 {
  color: var(--color-white);
}

.tcc-modal>section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.tcc-modal>section>div>span {
  font-family: var(--font-family--ubuntu);
  font-size: var(--font-size-18);
  font-weight: var(--font-weigth--regular);
  line-height: var(--line-height-32);
  letter-spacing: var(--letter-spacing-072);
}

.tcc-modal>section>footer {
  display: flex;
  justify-content: flex-end;
}

/* MenuItem */

.tcc-menu-item {
  display: flex;
  gap: .625rem;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.tcc-menu-item__radio {
  display: none;
}

.tcc-menu-item__radio:checked~.tcc-menu-item__label {
  background-color: var(--color-black--dark);
}

.tcc-menu-item__radio:not(:checked)~.tcc-menu-item__label:hover {
  background-color: rgb(33, 47, 61, .75);
}

.tcc-menu-item__label {
  padding: .625rem;
  background-color: var(--color-black--medium);
  font-size: var(--font-size-14);
  font-weight: var(--font-weigth--light);
  line-height: unset;
  color: var(--color-white);
}

/* Utils */

.tcc-truncate-string {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tcc-no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tcc-erase {
  display: none;
}

.tcc-skeleton {
  animation: skeleton-animation 1s infinite alternate;
}

.tcc-rotate {
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

/* Scroll bar */

::-webkit-scrollbar {
  width: .875rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-blue--light);
}

::-webkit-scrollbar-thumb {
  background: var(--color-blue--medium);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-blue--dark);
}

/* KeyFrames */

@keyframes show-up {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes show-toast {
  100% {
    opacity: 1;
  }
}

@keyframes translate-toast {
  100% {
    opacity: 1;
    transform: translateY(calc(100% + 2rem));
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    transform: translateY(-6rem);
  }
}

@keyframes skeleton-animation {
  0% {
    background-color: rgba(0, 0, 0, 0.22);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.32);
  }
}