@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,300&display=swap');

:root {
  --color-gray: #808B96;
  --color-gray--medium: #6E6974;
  --color-white: #FFFFFF;
  --color-blue--light: #D4E6F1;
  --color-blue--light-medium: #84C7E6;
  --color-blue--light-dark: #3498DB;
  --color-blue--dark-medium: #212F3D;
  --color-blue--dark-light: #2C3E50;
  --color-blue--dark: #1E1E1E;
  /* #17202A; */

  --font-family--ubuntu: 'Ubuntu', sans-serif;

  --font-size-10: .625rem;
  --font-size-12: .75rem;
  --font-size-14: .875rem;
  --font-size-18: 1.125rem;
  --font-size-32: 2rem;

  --line-height-18: 1.125rem;
  --line-height-20: 1.25rem;
  --line-height-40: 2.5rem;

  --font-weigth--bold: 700;
}

h2,
h3,
p,
li,
span,
button {
  font-family: var(--font-family--ubuntu);
  color: var(--color-blue--dark);
}

h2,
h3 {
  font-weight: var(--font-weigth--bold);
}

h2 {
  font-size: var(--font-size-32);
  line-height: var(--line-height-40);
  letter-spacing: .08rem;
}

h3 {
  font-size: var(--font-size-18);
  line-height: var(--line-height-20);
  letter-spacing: .04rem;
}

p,
li,
span,
button {
  font-size: var(--font-size-14);
  line-height: var(--line-height-18);
  letter-spacing: .045rem;
}

ol,
ul {
  padding-left: 1.875rem;
}

/* .App {} */

.section {
  padding: 3.125rem;
}

.classroom {
  display: grid;
  grid-template-columns: .18fr .82fr;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: .9375rem;
  background-color: var(--color-blue--dark);
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

.sidebar-item {
  display: flex;
  gap: .3125rem;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.sidebar-item__name:hover:not(.sidebar-item--selected) {
  color: var(--color-blue--light-medium);
}

.sidebar-item__name {
  font-family: var(--font-family--ubuntu);
  font-size: var(--font-size-14);
  font-weight: var(--font-weigth--bold);
  color: var(--color-blue--light);
  transition: .25s;
}

.sidebar-item--selected {
  color: var(--color-blue--light-dark);
}

.classroom-stage {
  display: grid;
  grid-template-columns: .68fr .32fr;
  height: 100vh;
}

.classroom-stage--without-navigation {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}

.classroom-screen__content {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  overflow: auto;
}

.classroom__content {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.classroom__content-sections {
  display: flex;
  flex-direction: column;
  gap: .9375rem;
}

.classroom__content-section {
  display: flex;
  flex-direction: column;
  gap: .9375rem;
}

.classroom__content-section-item {
  display: flex;
  flex-direction: column;
  gap: .9375rem;
}

.exercise__questions {
  list-style-position: inside;
  padding: 0;
}

li.exercise__question-statement:not(:last-child) {
  margin-bottom: 1.875rem;
}

.exercise__question-answers {
  display: flex;
  flex-direction: column;
  gap: .9375rem;
  padding: .9375rem 0 0 .9375rem;
}

.exercise__question-answer {
  list-style: none;
}

.exercise__answer {
  display: flex;
  gap: .625rem;
}

.exercise__answer-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: .0625rem solid var(--color-blue--dark);
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  background: none;
  cursor: pointer;
  transition: .25s;
}

.exercise__answer-letter:hover:not(.exercise__answer-letter--selected) {
  color: var(--color-white);
  background-color: var(--color-blue--light-medium);
  border: none;
}

.exercise__answer-letter--selected {
  color: var(--color-white);
  background-color: var(--color-blue--light-dark);
  border: none;
}

.exercise__answer-text {
  padding-top: .4rem;
}

.exercise__confirmation {
  display: flex;
  justify-content: flex-end;
}

.button--confirmation {
  background-color: var(--color-blue--light-dark);
  color: var(--color-white);
  font-family: var(--font-family--ubuntu);
  font-size: var(--font-size-14);
  font-weight: var(--font-weigth--bold);
  border: none;
  border-radius: .3125rem;
  padding: .375rem 1.625rem;
  cursor: pointer;
  transition: .25s;
}

.button--confirmation:hover {
  background-color: var(--color-blue--light-medium);
}

.code-snippet {
  display: flex;
  gap: 1.25rem;
  height: 22.5rem;
}

.code-snippet__editor {
  border-radius: .3125rem;
  overflow: hidden;
  width: 100%;
}

.code-snippet__animation {
  border-radius: .3125rem;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.animation-screen__screen {
  height: 100%;
}

.animation-screen__control {
  display: flex;
}

.classroom-practice {
  height: 100vh;
  overflow: auto;
}

.code-editor {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  background-color: rgb(30, 30, 30);
  padding: 1.25rem;
  border-radius: .625rem;
}

.code-editor__inner {
  display: flex;
  gap: 1.25rem;
  width: 100%;
  height: 100%;
}

.code-editor__output {
  border-radius: .625rem;
  border: .0625rem dashed var(--color-blue--light);
  background-color: rgb(30, 30, 30);
  color: var(--color-white);
  padding: .625rem;
  cursor: text;
  min-height: 3.375rem;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}

.classroom-stage__navigation {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.navigation-item {
  display: flex;
  align-items: center;
  gap: .3125rem;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}

.navigation-item__name {
  font-weight: var(--font-weigth--bold);
  color: var(--color-gray);
}

.navigation-item__navigation-items {
  padding: .3125rem 0 0 1.1875rem;
}

/* utils */

.background-color--color-blue--light {
  background-color: var(--color-blue--light);
}

.background-color--color-blue--dark {
  background-color: var(--color-blue--dark);
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-blue--light);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray--medium);
}